<div class="app">
  <h1>Currency Exchange</h1>

  <form id="convertForm" class="convert-form" #convertForm="ngForm">
    <div class="fields-wrap">
      <div class="convert-form-field">
        <label for="amount"> Amount </label>
        <input
          type="number"
          id="amount"
          name="amount"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="amount"
          (change)="updateAmount($event)"
        />
      </div>

      <div class="convert-form-field">
        <label for="fromCurrency"> From </label>
        <select
          id="fromCurrency"
          name="fromCurrency"
          [(ngModel)]="fromCurrency"
          (change)="updateFromCurrency($event)"
        >
          <option
            *ngFor="let currencyCode of currencies"
            [value]="currencyCode"
          >
            {{ currencyCode }}
          </option>
        </select>
      </div>

      <div class="convert-form-field">
        <label for="toCurrency"> To </label>
        <select
          id="toCurrency"
          name="toCurrency"
          [(ngModel)]="toCurrency"
          (change)="updateToCurrency($event)"
        >
          <option
            *ngFor="let currencyCode of currencies"
            [value]="currencyCode"
          >
            {{ currencyCode }}
          </option>
        </select>
      </div>
    </div>

    <div class="bottom-part">
      <button (click)="convertCurrencies()">Convert</button>

      <div id="convertResult" class="convertResult">
        <span> {{ conversionMessage }} </span>
      </div>
    </div>
  </form>
</div>

<!-- ng g component data-display  -->

<!-- ng serve -->
